<h3><%= session[:player_name] %>, you're playing BlackJack!</h3>
</br>

<div class='well'>
  <h4>DEALER'S CARDS...</h4>
  </br>
  <% session[:dealer_hand].each do |card| %>
    <%= display_card(card) %>
  <% end %>
  <h4>Dealer hand value is: <%= calculate_total(session[:dealer_hand]) %></h4>
  <% if @display_dealer_hit %>
    <p>
      <form action='/game/dealer/hit' method='post'>
        <input type='submit' class='btn btn-success' value="Click to see the dealer's next card...">
      </form>
    </p>
  <% end %>
</div>

<div class='well'>
  <h4>YOUR CARDS...</h4>
  </br>
  <% session[:player_hand].each do |card| %>
    <%= display_card(card) %>
  <% end %>
  <h4>Your hand value is: <%= calculate_total(session[:player_hand]) %></h4>
</div>

</br>

<% if @display_stay_or_bust %>
  <form action='/game/player/hit' method='post' class='hitstaybutton'>
    <input type='submit' class='btn btn-success' value='Hit' />
  </form>
  <form action='/game/player/stay' method='post' class='staystaybutton'>
    <input type='submit' class='btn btn-inverse' value='Stay' />
  </form>
<% end %>
